.NotesDisplay{
    flex-grow: 1;
    width: 75%;
    height: 100%;
    background-color: #F7ECDC;
    position: relative;
}

/* Default display */
.defaultContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.defaultContainer>img{
    width: 50%;
}
.defaultContainer>h1{
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.defaultContainer>p{
    margin-top: 10px;
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 140%;
}

.defaultContainer .footer{
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    gap: 7px;
}
.defaultContainer .footer>img{
    width: 12px;
}
.defaultContainer .footer>p{
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}


/* Notes container */

.notesContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
.header{
    background-color: #E8E8E8;
    display: flex;
}

/* Display notes */
.notesList{
    flex-grow: 1;
    padding: 15px 35px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 4px;
}
.notesList::-webkit-scrollbar{
    width: 4px;
    height: 100%;
}
.notesList::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom right, #848484b3 0%, #a6a5a598 100%);
    border-radius: 10px;
}

.note{
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 20px 0;
}
.timeAndDate{
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.noteContent{
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 150%;
    flex-shrink: 1;
    word-break: break-word;
}

/* Notes Input */
.notesInputContainer{
    background-color: #E8E8E8;
    padding: 15px 20px;
    position: relative;
}
.notesInput{
    border: 1px solid #CCCCCC;
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 130px;
    resize: none;
}
.notesInput::placeholder{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #9A9A9A;
}


/* Enter button */
.enterImage{
    width: 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

/* go back button */
.goBackIcon{
    margin-left: 15px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .NotesDisplay{
        width: 100%;
        position: absolute;
        right: 100%;
    }

    .goBackIcon{
        display: block;
    }
    .notesList{
        padding: 0px 10px;
        margin-right: 4px;
    }
    .note{
        gap: 20px;
        padding: 10px 0;
    }
    .timeAndDate{
        font-size: 0.7rem;
    }
    .noteContent{
        font-size: 0.7rem;
        letter-spacing: 0.5px;
    }
    .notesInputContainer{
        padding: 10px;
    }
    .notesInput{
        padding: 10px;
        border-radius: 6px;
        height: 100px;
    }
    .notesInput::placeholder{
        font-size: 0.9rem;
    }
    .enterImage{
        width: 20px;
        bottom: 25px;
        right: 20px;
    }
}